<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body id="authBody">
    <div id="miApp">
        <h1>MiApp</h1>
    </div>

    <div id="authContainer">
        <div id="login">
            <div>
                <h2 id="account">Create an account</h2>
            </div>
            <form>
                <label for="email" id="enterYourEmail">Enter your Email to sign up for this app</label>
                <input type="email" id="email" placeholder="email@domain.com">
                <input type="submit" class="botones" id="signUpEmail" value="Sign up with email">
                <label for="google" id="continueWith">Or continue with</label>
                <button class="botones" id="google">Google</button>
            </form>
            <div id="disclaimer">
                <p class="disclaimer">By clicking continue, you agree to our <i>Terms of Service</i> and <i>Privacy Policy</i></p>
            </div>
        </div>
    </div>
</body>
</html>