<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body id="contactsBody">
    <div id="chatContainer">
      <p>Contactos</p>
      <div id="usuarios">
        <div class="user">
          <div class="userPic"><img src="../assets/images/helena.png"></div>
          <div class="userInfo">
            <p>Helena</p>
            <p>email@figmasfakedomain.net</p>
          </div>
        </div> 
         <div class="user">
            <div class="userPic"><img src="../assets/images/oscar.png"></div>
            <div class="userInfo">
            <p>Oscar</p>
            <p>email@figmasfakedomain.net</p>
          </div>
        </div>   
         <div class="user">
            <div class="userPic"><img src="../assets/images/daniel.png"></div>
          <div class="userInfo">
            <p>Daniel</p>
            <p>email@figmasfakedomain.net</p>
          </div>
        </div>  
         <div class="user">
            <div class="userPic"><img src="../assets/images/jay.png"></div>
          <div class="userInfo">
            <p>Daniel Jay Park</p>
            <p>email@figmasfakedomain.net</p>
          </div>
        </div>  
         <div class="user">
            <div class="userPic"><img src="../assets/images/mark.png"></div>
          <div class="userInfo">
            <p>Mark Rojas</p>
            <p>email@figmasfakedomain.net</p>
          </div>
        </div>       
      </div>
    </div>
  </body>
</html>